<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <a href="{% url 'task'%}">Back to Task Page.</a>
    {% if request.method == 'POST'%}
    <h5>Username is {{username}}</h5>
    <h5>Password is {{password}}</h5>
    <h4>User logged in successfully.</h4>
    <script>
           var x = document.getElementById('submitForm')['username'].value;
           console.log(x);
    </script>
    {% else %}
    <form id="submitForm" action="{% url 'home' %}" method="post">
        {% csrf_token %}
        <h3>Login</h3>
        <label for="username">Username</label>
        <input id='username' name="username" type="text">
        <label for="password">Password</label>
        <input id="password" name="password" type="text">
        <input type="submit" value="submit" >
    </form>
    {% endif %}
    <details>
            This page will act both as home_page as well as login/sign-up page. Front-End waalo you can divide this page
            in two parts and plan accordingly...
            <br>
            Login/Sign-Up button<br>
            Login form --> Username Box, Password Box, Forget Password, Login/Done button<br>
            Sign-Up form --> First Name, Last Name, Email, Password, Confirm Password<br>
            Username will be automatically assigned.
    </details>
</body>
</html>