<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <a href="{% url 'dashboard'%}">Back to Dashboard.</a>
    <div class="loginbox">

<!--    <h5>Username is {{username}}</h5>-->
<!--    <h5>Password is {{password}}</h5>-->
<!--    <h4>User logged in successfully.</h4>-->
        <img src="../static/images/avatar.png" class="avatar">
        <h1>Login Here</h1>

    <form id="submitForm" action="{% url 'home' %}" method="post">
        {% csrf_token %}
<!--        <label for="username">Username</label>-->
        <input id="email"  name="email" type="email" placeholder="Enter email" required>
<!--        <label for="password">Password</label>-->
        <input id="password"  name="password" type="password" placeholder="Enter password" required>
        <input type="submit" value="Login" >
        <a href="#">Lost your password?</a><br>
        <a href="#">Don't have an account?</a>

    </form>
    <p class="para-2">Not have an account? <a href="{% url 'sign-up' %}">Sign Up Here</a></p>
    <p class="para-2">Email -- > test1@gmail.com</p>
    <p class="para-2">Password -- > bharatpro1</p>

    </div>
    <details>
            This page will act both as home_page as well as login/sign-up page. Front-End waalo you can divide this page
            in two parts and plan accordingly...
            <br>
            Login/Sign-Up button<br>
            Login form --> Username Box, Password Box, Forget Password, Login/Done button<br>
            Sign-Up form --> First Name, Last Name, Email, Password, Confirm Password<br>
            Username will be automatically assigned.
    </details>
</body>
</html>