<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Task Page</title>
    <!--<style></style> instead of internal css, we are using external file and below written command is to load
    static folder by giving this django command. -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <div id="upper">
        <a href="{% url 'about' %}" class='button'>ABOUT US</a>
        <h1> This is the Task Page now, click <a href="{% url 'home' %}">HOME Page</a> to open </h1>

        <ol>
            <h3>Tasks</h3>
            <li>Profile page</li>
            <li><strike>About us page</strike></li>
            <li>Quiz Page</li>
            <li>Dashboard</li>
        </ol>

        <button onclick="warn()">HIT ME 4 a Surprise</button>
    </div>

    <div id="warning">
        <button onclick="warn()">BACK 🤣 😒🤔</button>

        <h2 style="color:red">If you are on this page, then you must remember database banana hai abhi...</h2>
        <h2>Schema</h2>

        <img src="../static/images/schema.jpg">
    </div>

    <script type="text/javascript" src="{% static 'js/index.js'%}"></script>
</body>
</html>
