<<<<<<< Updated upstream
@import url('https://fonts.googleapis.com/css2?family=lobster&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Lobster',cursive;
}
.section{
    width: 100%;
}
.section .container{
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
}
.container .title{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.container .title h1{
    text-transform: uppercase;
    font-size: 35px;
    color: #88941e;
}
.container .title h1::after{
    content: "";
    height: 5px;
    width: 100px;
    background-color: #c4d156;
    border-radius: 25px;
    display: block;
    margin: auto;
}
.content{
    float: left;
    width: 55%;
}
=======
.body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: #add;
}
.row{
    width: 80%;
    padding-top: 100px;
    display: block;
    margin: auto;
}
>>>>>>> Stashed changes
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
<<<<<<< Updated upstream
.content .article h3{
    color: #a3a3a3;
    font-size: 17px;
}
.content .article p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.content .article .button{
    margin-top: 50px;
}
.content .article .button a{
    text-decoration: none;
    padding: 8px 25px;
    background-color: #889418;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.content .article .button a:hover{
    color: #fff;
    background-color: #f28f92;
    transition: 1s ease;
}
.container .social{
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}
.container .social i{
    color: #fff;
    font-size: 22px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #f28f92;
    margin: 0px 5px;
}
.container .social i:hover{
   color: #fff;
   background-color: #88941e;
   transition: 1s ease;
   transform: rotate(360deg); 
=======
.content{
    float:left;
    width: 55%;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-top: 25px;
    color: #222;
>>>>>>> Stashed changes
}