@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Cabin", sans-serif;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}
.splash {
  top: 0;
  left: 0;
  position: absolute;
  /* background:url(assets/images/home4.webp);*/
  z-index: 200;
}
.splash.display-none {
  top: 0;
  left: 0;
  position: fixed;
  background: url(../static/images/home1.webp);
  z-index: -10;
}
.beforesplash img {
  width: 1350px;
  height: 650px;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}
nav {
  background: #02010f;
  padding: 4px 20px;
  display: flex;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  color: #6666ff;
}
.logo {
  flex: 1;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 30px;
}
.logo img {
  width: 83px;
  margin-right: 10px;
}
.logo a:hover {
  color: #6666ff;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.menu li {
  padding: 15px 10px;
  font-size: 20px;
  text-decoration: none;
}
.toggle {
  font-size: 30px;
  display: none;
}
.bgimg {
  position: relative;
  width: 100%;
  height: 100%;
}
.bgimg img {
  width: 1350px;
  height: 780px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.heading {
  color: #e8f8f5;
  position: absolute;
  top: 200px;
  left: 250px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #e21d7c, 0 0 20px #e9539c, 0 0 40px #e9539c,
    0 0 80px #e9539c, 0 0 120px #e9539c;
}

.btn {
  font-family: "Cabin", sans-serif;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0d5439;
  color: #a8b4d1;
  border: none;
  border-width: 0.5px;
  font-size: 40px;
  border-radius: 12px;
  padding: 5px 10px;
}
.btn a {
  font-family: "Cabin", sans-serif;
  color: #a8b4d1;
  text-decoration: none;
  text-align: center;
}
.btn:hover {
  background-color: #1f988a;
}
.btn a:hover {
  color: #06371b;
}
.btn a {
  position: relative;
  color: #03e9f4;
  display: inline block;
  text-decoration: none;
  transition: 0.5s;
  text-shadow: 0 0 10px #e21d7c, 0 0 20px #e9539c, 0 0 40px #e9539c,
    0 0 80px #e9539c, 0 0 120px #e9539c;
}

.loginbox {
  width: 420px;
  height: 420px;
  background: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 10%;
}
h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: rgb(244, 249, 246);
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}
.loginbox a:hover {
  color: #ffc107;
}
.signup-box {
  width: 25%;
  height: 650px;
  padding: 20px 40px;
  margin: auto;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
}
.signup-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.signup-box input {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
}
.signup-box input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.signup-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.signup-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.signup-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;
  color: darkgrey;
}
.signup-box a:hover {
  color: #ffc107;
}
h1 {
  text-align: center;
  padding-top: 19px;
  color: rgb(165, 124, 124);
}
h4 {
  text-align: center;
  margin-bottom: 10px;
}
#submitForm {
  width: 300px;
  margin-left: 20px;
}
#submitForm label {
  color: #f3f7f8;
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  border-bottom: 10px;
}
form input,
#submitForm input {
  width: 100%;
  padding: 3px;
  border: none;
  border-bottom: 10px solid white;
  border-radius: 6px;
  outline: none;
}
#submitForm input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #089a76;
  color: #fff;
  font-size: 18px;
}
#submitForm p,
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  margin-top: 10px;
}

.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: 10px;
}
.para-2 a {
  color: #49c1a2;
}

footer {
  margin-top: 0px;
  position: absolute;
  width: 100%;
  background: #3498db;
  height: 180px;
}
footer .social_icons {
  top: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
footer .social_icons li {
  list-style: none;
  margin: 24px 0;
  padding: 8px;
}
footer .social_icons li a {
  font-size: 2em;
  color: #f3f7f8;
  padding-top: 10px;
  margin: 10px 0;
  display: inline block;
  transition: 0.5s;
}
footer .social_icons li a:hover {
  color: #182e60;
  transform-origin: translateY(-12px);
}
footer p {
  color: #f3f7f8;
  text-align: center;
  margin-top: 0;
  padding: 0 10px;
  font-size: 24px;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../images/wave.png);
  display: flex;
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 900;
  opacity: 0.2;
  bottom: 18px;
  animation: animateWave 5s linear infinite;
}
footer .wave#wave4 {
  z-index: 800;
  opacity: 0.7;
  bottom: 22px;
  animation: animateWave_02 2s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu {
    margin-top: 15px;
    display: none;
  }
  .menu.active,
  .toggle {
    display: block;
  }
  .toggle {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
